<h1>THIS IS THE HOME PAGE</h1>

<h2>IS KINDA STUPID BUT THEY ASKED US FOR IT</h2>

<p>You can go to the following link to go to the about page: </p>

<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About Page', pages_about_path %>