<div class="jumbotron">
  <h1 class="display-4">Alpha Blog</h1>
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-xl btn-xlarge" %>
</div>

<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About Page', pages_about_path %>