<div class="container-fluid">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://udemy.com">Fuch this shit</a>
    </small>

    <nav>
      <ul>
        <li>
          <%= link_to "About", pages_about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>